* {
  box-sizing: border-box;
  outline: none;
}

.go-top {
  opacity: 0;
  transition: opacity 1500ms;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 25px;
  z-index: 100;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .go-top {
    right: 20px;
  }
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #C02223;
  position: relative;
}

.header::after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  height: 1px;
  background: #C02223;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper a {
  text-decoration: none;
}

.header-menu {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-toggle {
  display: none;
}

.custom-logo {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  color: #C02223;
  font-family: 'Roboto', serif-serif;
  margin-left: 10px;
}

.logo-name span {
  font-size: 12px;
  padding-bottom: 5px;
}

.logo-name h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 24px;
  line-height: 1;
}

.menu-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.menu-item:not(:last-child) {
  margin-right: 22px;
}

.menu-item:hover .sub-menu {
  display: block;
}

.menu-item a {
  text-decoration: none;
  color: #323232;
}

.sub-menu {
  position: absolute;
  background-color: #ffffff;
  z-index: 5;
  width: 500px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
  display: none;
}

.sub-menu::before {
  position: absolute;
  content: '';
  top: 0;
  left: -1500px;
  width: 136vw;
  height: 230px;
  background: #FFFFFF;
}

.sub-menu li {
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 5;
    padding-top: 20px;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .menu-item a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc(40% + 40px);
    background-color: #ffffff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .header .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.widget-worktime {
  flex-direction: column;
}

.widget-worktime h2, .widget-worktime p {
  margin: 0;
}

.widget-worktime h2 {
  font-weight: 500;
  font-size: 15px;
}

.widget-worktime p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
  margin-left: 22px;
}

.widget-worktime-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.widget-worktime-title img {
  margin-right: 5px;
}

.widget-phones {
  font-weight: 500;
  font-size: 15px;
}

.widget-phones-wrapper {
  margin-bottom: 10px;
}

.widget-phones a {
  display: block;
  padding-bottom: 5px;
}

.widget-phones a:nth-child(2) {
  margin-top: -20px;
}

.widget-social {
  text-align: center;
}

.widget-social .widget-title {
  padding: 30px 25px 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  border: none;
  text-transform: none;
}

.widget-social-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.widget-social-link a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.widget-social-link-fb, .widget-social-link-vk, .widget-social-link-twit, .widget-social-link-yt {
  opacity: 0.7;
}

.footer {
  padding: 50px 0 30px;
  background-color: #C02223;
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.footer-nav-wrapper {
  color: #ffffff;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info img {
  filter: brightness(7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info .logo {
  max-width: 380px;
}

.footer-info .logo-name {
  color: #ffffff;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul li {
  margin-bottom: 10px;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  text-decoration: underline;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: right;
}

.footer-contacts .widget-social {
  order: 1;
  margin-bottom: 0;
}

.footer-contacts-phone {
  cursor: pointer;
}

.footer-contacts .email {
  margin-bottom: 15px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-copyright {
  opacity: 0.7;
}

.footer-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  font-weight: 500;
  font-size: 12px;
  border-top: 1px solid #C4C4C4;
  margin-top: 40px;
}

.footer-text-wrapper p {
  margin: 0;
}

.footer .email {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.footer .email img {
  margin-top: 5px;
}

.footer .email a {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .footer-menu {
    flex-basis: 30%;
  }
  .footer-menu-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    max-width: 480px;
  }
  .footer-info .logo {
    margin-right: 15px;
  }
}

@media screen and (max-width: 800px) {
  .footer-menu {
    flex-basis: 50%;
  }
  .footer-social {
    margin-top: 30px;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    max-width: 100%;
  }
  .footer-text-wrapper {
    flex-direction: column;
  }
  .footer-text-wrapper a {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav-wrapper {
    margin-right: unset;
  }
  .footer-info ul li {
    padding-bottom: 15px;
  }
  .footer-social {
    margin-top: 10px;
  }
}
