* {
  box-sizing: border-box;
  outline: none;
}

.go-top {
  opacity: 0;
  transition: opacity 1500ms;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 25px;
  z-index: 100;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

section {
  padding: 10px 0 80px 0;
  border-bottom: 1px solid #C02223;
}

section h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #323232;
  margin: 0;
  margin-bottom: 40px;
}

.button-link {
  margin: 0 auto;
  margin-top: 50px;
  text-decoration: none;
  color: #C02223;
  border: 1px solid #C02223;
  width: 270px;
  height: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .go-top {
    right: 20px;
  }
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

body {
  overflow-x: hidden;
}

.header {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #C02223;
  position: relative;
}

.header::after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  height: 1px;
  background: #C02223;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper a {
  text-decoration: none;
}

.header-menu {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-toggle {
  display: none;
}

.custom-logo {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  color: #C02223;
  font-family: 'Roboto', serif-serif;
  margin-left: 10px;
}

.logo-name span {
  font-size: 12px;
  letter-spacing: 0.03em;
  padding-bottom: 5px;
}

.logo-name h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 24px;
  line-height: 1;
}

.menu-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.menu-item:not(:last-child) {
  margin-right: 22px;
}

.menu-item:hover .sub-menu {
  display: block;
}

.menu-item a {
  text-decoration: none;
  color: #323232;
}

.sub-menu {
  position: absolute;
  background-color: #ffffff;
  z-index: 5;
  width: 500px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
  display: none;
}

.sub-menu::before {
  position: absolute;
  content: '';
  top: 0;
  left: -1500px;
  width: 136vw;
  height: 230px;
  background: #FFFFFF;
}

.sub-menu li {
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 5;
    padding-top: 20px;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .menu-item a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc(40% + 40px);
    background-color: #ffffff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .header .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.widget-worktime {
  flex-direction: column;
}

.widget-worktime h2, .widget-worktime p {
  margin: 0;
}

.widget-worktime h2 {
  font-weight: 500;
  font-size: 15px;
}

.widget-worktime p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
  margin-left: 22px;
}

.widget-worktime-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.widget-worktime-title img {
  margin-right: 5px;
}

.widget-phones {
  font-weight: 500;
  font-size: 15px;
}

.widget-phones-wrapper {
  margin-bottom: 10px;
}

.widget-phones a {
  display: block;
  padding-bottom: 5px;
}

.widget-phones a:nth-child(2) {
  margin-top: -20px;
}

.widget-social {
  text-align: center;
}

.widget-social .widget-title {
  padding: 30px 25px 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  border: none;
  text-transform: none;
}

.widget-social-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.widget-social-link a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.widget-social-link-fb, .widget-social-link-vk, .widget-social-link-twit, .widget-social-link-yt {
  opacity: 0.7;
}

.footer {
  padding: 50px 0 30px;
  background-color: #C02223;
  color: #ffffff;
}

.footer section {
  padding: initial;
}

.footer-wrapper {
  display: flex;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.footer-nav-wrapper {
  color: #ffffff;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info img {
  filter: brightness(7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info .logo {
  max-width: 380px;
}

.footer-info .logo-name {
  color: #ffffff;
}

.footer-menu-title {
  color: #ffffff;
  line-height: unset;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul li {
  margin-bottom: 10px;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  text-decoration: underline;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: right;
}

.footer-contacts .widget-social {
  order: 1;
  margin-bottom: 0;
}

.footer-contacts-phone {
  cursor: pointer;
}

.footer-contacts .email {
  margin-bottom: 15px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-copyright {
  opacity: 0.7;
}

.footer-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  font-weight: 500;
  font-size: 12px;
  border-top: 1px solid #C4C4C4;
  margin-top: 40px;
}

.footer-text-wrapper p {
  margin: 0;
}

.footer .email {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.footer .email img {
  margin-top: 5px;
}

.footer .email a {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .footer-menu {
    flex-basis: 30%;
  }
  .footer-menu-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    max-width: 480px;
  }
  .footer-info .logo {
    margin-right: 15px;
  }
}

@media screen and (max-width: 800px) {
  .footer-menu {
    flex-basis: 50%;
  }
  .footer-social {
    margin-top: 30px;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    max-width: 100%;
  }
  .footer-text-wrapper {
    flex-direction: column;
  }
  .footer-text-wrapper a {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav-wrapper {
    margin-right: unset;
  }
  .footer-info ul li {
    padding-bottom: 15px;
  }
  .footer-social {
    margin-top: 10px;
  }
}

.hero {
  padding-top: 30px;
  max-width: 1200px;
}

.hero-slider {
  overflow: inherit;
}

.hero .swiper-slide {
  opacity: 0.3;
}

.hero .swiper-slide .article-permalink, .hero .swiper-slide .article-btn {
  display: none;
}

.hero .swiper-slide-active {
  opacity: 1;
}

.hero .swiper-slide-active .article-permalink, .hero .swiper-slide-active .article-btn {
  display: flex;
}

.hero .article-post {
  height: 600px;
  position: relative;
}

.hero .article-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .article-permalink, .hero .article-btn {
  position: absolute;
  top: 25%;
  left: 0;
  width: 700px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  margin-left: 30px;
}

.hero .article-title {
  margin: 0;
  font-size: 46px;
  line-height: 146%;
}

.hero .article-btn {
  top: 62%;
  background: rgba(192, 34, 35, 0.5);
  border: 1px solid #C02223;
  width: 270px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.hero .article-btn:hover {
  background: #C02223;
}

.hero .swiper-button-arr {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  right: 90px;
  bottom: 40px;
  height: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .swiper-button-next {
  background: url(../images/arrow-white.svg) no-repeat 50%;
  transform: rotate(180deg);
  right: 50px;
}

.hero .swiper-button-prev {
  background: url(../images/arrow-white.svg) no-repeat 50%;
  left: 50px;
}

.hero .swiper-button-next, .hero .swiper-button-prev {
  width: inherit;
}

.hero .swiper-button-next::after, .hero .swiper-button-prev::after {
  content: '';
  width: 42px;
}

.poster {
  padding-bottom: 50px;
}

.poster h1 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #323232;
}

.poster-tabs {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.poster-tabs div {
  font-size: 14px;
  color: #A2A2A2;
  cursor: pointer;
  margin-left: 23px;
}

.poster-tabs div .active {
  text-decoration-line: underline;
  color: #C02223;
}

.poster-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}

.poster-posts-content {
  font-weight: 500;
}

.poster-posts-content a {
  text-decoration: none;
}

.poster-posts-thumb {
  min-width: 380px;
  object-fit: cover;
}

.poster-posts-excerpt {
  font-size: 16px;
  color: #A2A2A2;
  margin-top: 20px;
  margin-bottom: 10px;
}

.poster-posts-title {
  font-size: 18px;
  line-height: 130%;
  color: #323232;
  margin: 0;
}

.programs {
  padding-top: 50px;
  padding-bottom: 100px;
}

.programs-slider {
  overflow: inherit;
}

.programs .swiper-slide {
  opacity: 0.3;
}

.programs .swiper-slide-active {
  opacity: 1;
}

.programs-article-post {
  height: 350px;
  display: flex;
}

.programs-article-post img {
  object-fit: cover;
}

.programs-article-text {
  padding-top: 45px;
  padding-left: 30px;
}

.programs-article-text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #666666;
  margin: 0;
  margin-bottom: 25px;
}

.programs-article-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #323232;
  margin: 0;
  margin-bottom: 30px;
}

.programs .swiper-slide-prev {
  opacity: 0;
}

.programs .swiper-button-arr {
  font-weight: 500;
  font-size: 14px;
  color: #C02223;
  position: absolute;
  top: 0;
  right: 485px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs .swiper-button-next {
  background: url(../images/arrow-grey.svg) no-repeat;
  right: 50px;
}

.programs .swiper-button-prev {
  background: url(../images/arrow-grey.svg) no-repeat;
  transform: rotate(180deg);
  left: 50px;
}

.programs .swiper-button-next, .programs .swiper-button-prev {
  background-position-y: 50%;
  width: inherit;
}

.programs .swiper-button-next::after, .programs .swiper-button-prev::after {
  content: '';
  width: 42px;
}

.news {
  padding-top: 50px;
  padding-bottom: 100px;
}

.news-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.news-posts-content {
  font-weight: 500;
  font-size: 16px;
}

.news-posts-content a {
  text-decoration: none;
}

.news-posts .item-1 {
  grid-area: 1 / 1 / 3 / 2;
  width: 790px;
}

.news-posts .item-1 h4 {
  font-size: 24px;
}

.news-posts .item-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.news-posts .item-3 {
  grid-area: 2 / 2 / 3 / 3;
}

.news-posts .date {
  display: block;
  color: #A2A2A2;
  margin-top: 20px;
  margin-bottom: 10px;
}

.news-posts-title {
  margin: 0;
  font-size: 18px;
  line-height: 130%;
  color: #323232;
}

.news-posts-text {
  font-family: 'Open Sans';
  font-style: normal;
  line-height: 130%;
  color: #666666;
}

.news-posts-text p {
  margin: 20px 0;
}
